.flex-container {
  display: flex;

  .flex-child {
    flex-grow: 1;

    .team-name {
      text-align: center;
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .flex-container {
    .flex-child {
      .team-name {
        font-size: 26px;
      }
    }
  }
}
@media (max-width: 414px) {
  .flex-container {
    .flex-child {
      .team-name {
        font-size: 20px;
      }
    }
  }
}
