.image{
    width: 30vw;
    height: 30vw;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: solid 2px;
}
.inputs{
    margin: 25px auto !important;
    display: block !important;
    width: fit-content !important;
}